<div id="<%= dom_id raw_material %>">
  <p>
    <strong>SKU Number:</strong>
    <%= raw_material.sku %>
  </p>

  <p>
    <strong>Product Description:</strong>
    <%= raw_material.product_description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= raw_material.category %>
  </p>

  <p>
    <strong>U.O.M:</strong>
    <%= raw_material.uom %>
  </p>

  <p>
    <strong>Re order level:</strong>
    <%= raw_material.re_order_level %>
  </p>

  <p>
    <strong>M.P.Q:</strong>
    <%= raw_material.mpq %>
  </p>

  <p>
    <strong>Cost per M.P.Q:</strong>
    <%= raw_material.cost_per_mpq %>
  </p>

  <p>
    <strong>Cost per U.O.M:</strong>
    <%= raw_material.cost_per_uom %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= raw_material.vendor %>
  </p>

  <p>
    <strong>Vendor contact:</strong>
    <%= raw_material.vendor_contact %>
  </p>

</div>
