<h1>Welcome to the LagerHaus</h1>

<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Brand Recipes', beers_path %></li>
    <li><%= link_to 'Brewery Ingredients', raw_materials_path %></li>
    <li><%= link_to 'New Brand Recipe', new_beer_path %></li>
    <li><%= link_to 'New Brewery Ingredient', new_raw_material_path %></li>
  </ul>
</nav>