<!DOCTYPE html>
<html>
  <head>
    <title>Brewery Inventory System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Brand Recipes', recipes_path %></li>
          <li><%= link_to 'Brewery Ingredients', raw_materials_path %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>